# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
pyvenv.cfg

# VS Code / IDE
.vscode/
.idea/

# FAISS / numpy binary (optional if you want to regenerate)
faiss_index.bin
chunks.npy

# Streamlit cache / temp
.streamlit/

# OS files
.DS_Store
Thumbs.db
